In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [21]:
mesin=create_engine('sqlite:///:memory:')

In [6]:
dataku=pd.read_csv('Universities.csv')

In [7]:
dataku

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada
...,...,...,...,...,...
202,"Private for-profit, 2-year",Carrington College-Las Vegas,2012,120,Nevada
203,"Public, 4-year or above",Western Nevada College,2012,495,Nevada
204,"Private for-profit, 2-year",Nevada Career Institute,2012,101,Nevada
205,"Private not-for-profit, 2-year",Expertise Cosmetology Institute,2012,129,Nevada
206,"Public, 2-year",Truckee Meadows Community College,2012,1170,Nevada

In [8]:
dataku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sector       207 non-null    object
 1   University   207 non-null    object
 2   Year         207 non-null    int64
 3   Completions  207 non-null    int64
 4   Geography    207 non-null    object
dtypes: int64(2), object(3)
memory usage: 8.2+ KB

In [9]:
dataku.describe()

              Year  Completions
count   207.000000   207.000000
mean   2014.067633   573.004831
std       1.405698  1125.247729
min    2012.000000     0.000000
25%    2013.000000    98.000000
50%    2014.000000   200.000000
75%    2015.000000   414.000000
max    2016.000000  5388.000000

In [10]:
dataku.describe(include="O")

                            Sector                        University Geography
count                          207                               207       207
unique                           7                                45         1
top     Private for-profit, 2-year  Pima Medical Institute-Las Vegas    Nevada
freq                            79                                 5       207

In [15]:
dataku.sort_values('Sector').mean()

/tmp/ipykernel_10132/2596085014.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataku.sort_values('Sector').mean()

Year           2014.067633
Completions     573.004831
dtype: float64

In [22]:
dataku.to_sql('data-sql',con=mesin)

207

In [24]:
ls

01-Series.ipynb                      Excel_Sample.xlsx
02-DataFrames.ipynb                  Universities.csv
03-Missing-Data.ipynb                Untitled.ipynb
04-Groupby.ipynb                     african_econ_crises.csv
05-Operations.ipynb                  bank.csv
06-Data-Input-and-Output.ipynb       example.csv
07-Pandas-Exercises.ipynb            example2.csv
08-Pandas-Exercises-Solutions.ipynb  output.csv

In [25]:
engine = create_engine('sqlite:///my_database.db')

In [26]:
dataku.to_sql('datadb',con=engine)

207

In [27]:
ls

01-Series.ipynb                      Universities.csv
02-DataFrames.ipynb                  Untitled.ipynb
03-Missing-Data.ipynb                african_econ_crises.csv
04-Groupby.ipynb                     bank.csv
05-Operations.ipynb                  example.csv
06-Data-Input-and-Output.ipynb       example2.csv
07-Pandas-Exercises.ipynb            my_database.db
08-Pandas-Exercises-Solutions.ipynb  output.csv
Excel_Sample.xlsx